<!DOCTYPE html>
<html data-ng-app="formSubmit">
<head>
<meta charset="ISO-8859-1">
<title>AngularJS Post Form Spring MVC example</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('formSubmit', []);
	
	app.controller('FormSubmitController',[ '$scope', '$http', function($scope, $http) {
			
			$scope.headerText = 'Add new User';
			$scope.submit = function() {
				
				var formData = {
					
					
			            "userName" :$scope.userName,
				        "userEmail" :$scope.userEmail,
				        "userPwd":$scope.userPwd,
				        "userStatus" :$scope.userStatus
						
				};
				
				var response = $http.post('http://localhost:8080/SermonNote/PostFormData', formData);
				
			
			 
				response.success(function(data, status, headers, config) {
					$scope.list.push(data);
				});
				response.error(function(data, status, headers, config) {
					alert( "Exception details: " + JSON.stringify({data: data}));
				});
				
				//Empty list data after process
				$scope.list = [];
				
			};
		}]);
</script>
</head>
<body>
	<form data-ng-submit="submit()" data-ng-controller="FormSubmitController">
		<h3>{{headerText}}</h3>
		<p>UserName: <input type="text" data-ng-model="userName"></p>
		<p>Email: <input type="text" data-ng-model="userEmail"></p>
		<p>Password: <input type="text" data-ng-model="userPwd"></p>
		<p>Status: <input type="text" data-ng-model="userStatus"></p>
		<input type="submit" id="submit" value="Submit" /><br>	
		
		<h4>You submitted below data through post:</h4>
		 <pre>Form data ={{list}}</pre>
	</form>
</body>
</html>