<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernateSessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sermonnote</property>
        <property name="hibernate.connection.url">jdbc:mysql://notedb.ckjfeircshnl.us-west-2.rds.amazonaws.com:3306/notedb</property>
        <property name="hibernate.connection.username">snote</property>
        <property name="hibernate.default_schema">notedb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    </session-factory>
</hibernate-configuration>
